# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Team4Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
